.infopersonal{
    color:black;
    font-family:'Bold', sans-serif;
    background-color: rgb(245, 211, 245);
    font-size: large;
    text-align:left;
    font-weight: bolder;
    border-bottom: 2% black
}