body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 50px;
    background-color: rgb(146, 52, 235);
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
margin-right: 10px;
}

nav a{
     font-weight: 600;
     padding-right: 10px;
}

nav a:hover{
    color: rgb(229, 186, 227);
}

 @media (max-width:700px){
    header{
        flex-direction: column;
    }
}
   nav{
         padding: 10px 0px;
}

.info{
    width: 90%;
    height: auto;
    background-color: rgb(202, 167, 219);
    margin: 5% auto;
    padding: 20px;
}
.infosecion{
    color:rgb(92, 8, 134);
    font-family:'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 5% rgb(216, 68, 216)solid;


}


.infopersonal{
    color:black;
   font-family: sans-serif;
    background-color: rgb(245, 211, 245);
    text-align:left;
    font-weight: bolder;
    border-bottom: 2% black
}


table{
    
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #d665ec;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #e3baf0;
      }
     

